In [32]:
import pandas as pd
from datetime import datetime, timedelta

In [33]:
df = pd.read_csv('../DATA/upbit원본.csv')
df['candle_date_time_kst'] = pd.to_datetime(df['candle_date_time_kst'])
date_range = pd.date_range(start=df['candle_date_time_kst'].min(), end=df['candle_date_time_kst'].max(), freq='H')

# 누락된 날짜 식별
existing_dates = set(df['candle_date_time_kst'])
complete_dates = set(date_range)
missing_dates = complete_dates - existing_dates

# 누락된 날짜를 데이터프레임으로 생성
missing_dates_df = pd.DataFrame(sorted(missing_dates), columns=['candle_date_time_kst'])

# 원본 데이터프레임과 누락된 날짜 데이터프레임 병합
combined_df = pd.concat([df, missing_dates_df]).sort_values(by='candle_date_time_kst').reset_index(drop=True)

In [34]:
combined_df.drop(columns=['market','candle_date_time_utc','unit','timestamp'], inplace=True)

In [35]:
df = combined_df.ffill()

In [36]:
df['target'] = df['trade_price'].diff().apply(lambda x: 1 if x > 0 else 0)

In [37]:
class

,candle_date_time_kst,opening_price,high_price,low_price,trade_price,candle_acc_trade_price,candle_acc_trade_volume,target
0,2017-09-25 12:00:00,4201000.0,4244000.0,4191000.0,4202000.0,4.142651e+08,98.210406,0
1,2017-09-25 13:00:00,4222000.0,4235000.0,4208000.0,4235000.0,3.230358e+07,7.656490,1
2,2017-09-25 14:00:00,4222000.0,4235000.0,4208000.0,4235000.0,3.230358e+07,7.656490,0
3,2017-09-25 15:00:00,4222000.0,4235000.0,4208000.0,4235000.0,3.230358e+07,7.656490,0
4,2017-09-25 16:00:00,4222000.0,4235000.0,4208000.0,4235000.0,3.230358e+07,7.656490,0
...,...,...,...,...,...,...,...,...
58936,2024-06-16 04:00:00,93798000.0,93867000.0,93735000.0,93735000.0,1.919027e+09,20.462423,0
58937,2024-06-16 05:00:00,93736000.0,93831000.0,93546000.0,93678000.0,4.697252e+09,50.151277,0
58938,2024-06-16 06:00:00,93678000.0,93816000.0,93625000.0,93749000.0,1.818507e+09,19.410888,1
58939,2024-06-16 07:00:00,93749000.0,93900000.0,93701000.0,93899000.0,1.789261e+09,19.085109,1
58940,2024-06-16 08:00:00,93899000.0,93994000.0,93878000.0,93910000.0,3.312338e+09,35.257335,1